* {
    margin: 0;
    padding: 0;
}

.wrapper1 {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "mh mh"
    "he he"
    "fl fl"
    "ti1 im1"
    "te1 im1"
    "s1 s1"
    "fo fo"
;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(7, 1fr);
}

.wrapper2 {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "mh mh"
    "he he"
    "fl fl"
    "ti2 in2"
    "te2 in2"
    "te2 in2"
    "te2 im2"
    "fo fo"
;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(8, 1fr);
}



.wrapper3 {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "mh mh"
    "he he"
    "fl fl"
    "s3 s3"
    "fo fo"
;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(7, 1fr);
}

.wrapper4 {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    "mh"
    "he"
    "fl"
    "ti4"
    "br4"
    "ad"
    "ma"
    "fo"
;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(8, 1fr);
}

#title4 {
    grid-area: ti4;
}

#brödtext4 {
    grid-area: br4;
}

#adress {
    grid-area: ad;
}

#maps {
    grid-area: ma;
}

/* Styling för element som förekommer i alla html-dokument */
.mini-text {
    color: black;
    margin: 10px;
}

.miniheader {
    grid-area: mh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(185, 216, 164);
    color: #f1f1f1;
}
.header {
    grid-area: he;
    background-color: lightblue;
}

.flygbild {
    grid-area: fl;
    width: 100%;
    height: auto;
}

.text {
    color: black;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer {
    grid-area: fo;

}

