* {
    margin: 0;
    padding: 0;
}

.Wrapper1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 40px 90px 100px 30px 70px 100px 90px 80px 50px  ;
    grid-template-areas:
    "mh mh mh"
    "He He He"
    "nav nav nav"
    "ru ru ru"
    "ab ab im"
    "br br im"
    "l1 l2 l3"
    "li ik em"
    ;
}

.mini-header {
    grid-area: mh;
    background-color: cornflowerblue;
}



.header {
    grid-area: he;
    background-color: rgba(100, 148, 237, 0.897);
}

.flygbild {
    grid-area: nav;
    background-color: rgba(100, 148, 237, 0.815);
}

#rubrik {
    grid-area: ru;
    border: dotted orange;
}

#brödtext {
    grid-area: br;
    border: dotted rgb(255, 230, 0);
}

.text {
    color: black;
    background-color: cyan;
}